#main, form {
	display: inline-block;
	text-align: center;
	background-color: #ebebeb;
	border: solid 5px black;
	position: absolute;
	top: 5%;
	left: 25%;
	width: 50%;
	font: Black;
	padding: 50px;
	margin-left: 20px;
	font-family: 'Playfair Display', serif;
/*	font-family: 'Graduate', cursive;*/
	background-color: white;
	/*font-weight: bold;*/
	font-size: 20px;
	color: black;
	border: 0;
}

#main {
	top: 10%;

}

p {
	font-weight: bold;
}
 form {
 	opacity: 1.0;
 }


html {
	background-image: url("images/snl4.jpg");
	background-attachment: fixed;
 
  	left: 0;
  	right: 0;
  	min-height: 100%;
  	width: 100%;
}

#begin, #submitButton {
	background-color: red;
	color: white;
	font-color: white;
	font-weight: bold;
	font-size: 16px;
    }
    
.jumbotron {
background-color: whitesmoke;
color: black;
font-weight: bold;
font-size: 20x;
font-family: 'Playfair Display', serif;
text-align: center;

}

#label {
    font-size: 14px;
}